@model vmpatient
@{
    Layout = "~/views/Shared/LayoutPage.cshtml";
}

@section Body{ 
    <form method="post">
        <div class="row">
            <div class="col-sm-1">
                <span>Name</span>

            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" asp-for="patient.Name"/>
                <span asp-validation-for="patient.Name"></span>
            </div>

        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-1">
                <span>phone</span>
            </div>
            <div class="col-sm-5">
                <input type="text" class="form-control" asp-for="patient.phone" />
                
            </div>


        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-1">
                <span>BDate</span>
            </div>
            <div class="col-sm-5">
                <input type="date" class="form-control" asp-for="patient.BDate" />
            </div>


        </div>
        <div class="row" style="margin-top:5px">
            <div class="col-sm-1">
                <span>BDate</span>
            </div>
            <div class="col-sm-5">
                <select class="form-control" asp-items='new SelectList(Model.Licountry,"Id","Name")' asp-for="patient.country_id">
                </select>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">
                <input type="submit" value="save" asp-action="save"/>
            </div>

        </div>
    </form>
}